.vscode/*
index.html
package.json
Game.rpgproject
#img/*
img/animations/*
img/battlebacks1/*
img/battlebacks2/*
img/characters/*
img/enemies/*
img/faces/*
img/parallaxes/*
img/pictures/*
img/sv_actors/*
img/sv_enemies/*
img/system/*
img/tilesets/*
img/titles1/*
img/titles2/*
img/pictures/*
!img/pictures/Package1_1.png
audio/*
# data/*
fonts/*
icon/*
movies/*
save/*
js/*
!js/plugins/
js/plugins/Tween.js
